<div class="confirmation-container">
  <div class="confirmation-box">
    <h3 class="confirmation-title">¿Estás seguro de que deseas eliminar este vehículo?</h3>
    <div class="confirmation-actions">
      <button class="btn btn-danger btn-action" (click)="eliminarVehiculo()">
        <i class="bi bi-trash"></i> Eliminar
      </button>
      <button class="btn btn-secondary btn-action" (click)="cancelar()">
        <i class="bi bi-x-circle"></i> Cancelar
      </button>
    </div>
  </div>
</div>

  
